/*resteos generales*/
*{
	box-sizing: border-box;
}
ul, ol{
	padding:0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}

/*STYLES LOGIN*/
body{
	text-align: center;
	background-image: url(../img/fondo.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.cuadrado{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	margin: auto;
	width:50%;
  height:50vh;
	background-color:black;
	opacity: 0.6;
}
.text{
	color: #ffffff;
}
a, h2, span{
	color: #ffffff;
}
a, span{
	 text-decoration: underline;
}
/*END STYLES LOGIN*/
